[Unit]
Description=AlarmPI
After=network-online.target
 
[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /opt/AlarmPI/run.py
 
[Install]
WantedBy=multi-user.target

